<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" href="/cn/libs/img/icon_blue.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="format-detection" content="telephone=no">
    <meta http-equiv="x-rim-auto-match" content="none">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" type="text/css" href="/cn/libs/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/cn/libs/onepage/css/onepage.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/cn/libs/ionicons/css/ionicons.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="/cn/workflow/css/workflow.css">

    <script src="/cn/libs/jquery/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/cn/libs/jquery/jquery-ui-1.10.4.custom.min.js" type="text/javascript"></script>
    <script src="/cn/libs/bootstrap/js/bootstrap.js" type="text/javascript"></script>
    <script src="/cn/libs/onepage/js/onepage.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            if(window.screen.width <= 767) {
                $(".telephone").attr("href","tel:4008201612");
            }
            function toggleNavbar() {
                var offsetTop = $(".navbar.navbar-fixed-top").offset().top;
                if (offsetTop > 0) {
                    $(".navbar.navbar-fixed-top").removeClass("navbar-transparent");
                    $(".navbar.navbar-fixed-top").addClass("filled")
                } else {
                    $(".navbar.navbar-fixed-top").addClass("navbar-transparent");
                    $(".navbar.navbar-fixed-top").removeClass("filled")
                }
            }
            toggleNavbar();
            $(window).on("scroll", function() {
                toggleNavbar();
            })
        })
    </script>
</head>
<body class="landing-page steedos-workflow">
    <nav class="navbar navbar-transparent navbar-top navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                    <span class="sr-only"></span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <div style="display: inline-block;">
                    <div class="logo-container">
                        <a href="/cn/" class="logo">
                            <img src="/cn/libs/img/logo.png">
                        </a>
                        <div class="brand">
                            审批王
                        </div>
                    </div>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="example" >
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/cn/workflow/" class="<%- current.path[current.path.length-2] == 'workflow' ? 'active' : '' %>">
                            简介
                        </a>
                    </li>
                    <li>
                        <a href="/cn/workflow/casestudy" class="<%- current.path[current.path.length-2] == 'casestudy' ? 'active' : '' %>">
                            案例
                        </a>
                    </li>
                    <li>
                        <a href="/cn/workflow/pricing/" class="<%- current.path[current.path.length-2] == 'pricing' ? 'active' : '' %>">
                            报价
                        </a>
                    </li>
                    <li>
                        <a href="/cn/workflow/download/" class="<%- current.path[current.path.length-2] == 'download' ? 'active' : '' %>">
                            下载
                        </a>
                    </li>
                    <li>
                        <a href="/cn/workflow/help/" target="_blank">
                            帮助
                        </a>
                    </li>
                    <li>
                        <a href="/steedos/sign-up" target="_blank">
                            注册
                        </a>
                    </li>
                    <li>
                        <a href="/steedos/sign-in">
                            登录
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
    </nav>
    <div class="wrapper">

        <!-- index.ejs -->
        <%- yield %>

        <!-- footer -->
        <div class="footer">
            <div class="overlayer">
                <div class="container">
                    <div class="row support">
                        <div class="col-sm-4 col-xs-4">
                            <h4>联系我们</h4>
                            <ul class="list-unstyled">
                                <li> <a class="telephone">热线：400-820-1612</a></li>
                                <li> <a>邮箱：support@steedos.com</a></li>
                                <li> <a>QQ：1471093381</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <h4>下载客户端</h4>
                            <ul class="list-unstyled">
                                <li> <a href="http://itunes.apple.com/cn/app/steedos-workflow/id686408407" target="_blank">iPhone / iPad</a> </li>
                                <li> <a href="http://oss.steedos.com/apps/workflow/android/workflow.apk" target="_blank">Android</a> </li>
                                <li> <a href="http://oss.steedos.com/apps/steedos/windows/steedos-desktop.exe" target="_blank">Windows</a> </li>
                                <li> <a href="http://oss.steedos.com/apps/steedos/mac/steedos.dmg" target="_blank">Mac</a> </li>
                            </ul>
                        </div>
                        <div class="col-sm-4 col-xs-4">
                            <h4>关于审批王</h4>
                            <div class="footer-description">
                                <span>
                                    审批王是全新的企业级在线审批系统，可以快速的将公司的各类审批业务转换为可严格执行的电子流程。出差申请、差旅报销、请假销假、物品采购、付款申请、固定资产报废、会议室预约、退库管理、客服投诉、工作报告等均可通过审批王处理。
                                </span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="social-area text-center" itemscope="" itemtype="">
                            <a itemprop="url" href="/cn/" class="footer-brand">
                                <div class="logo">
                                    <img itemprop="logo" src="/cn/libs/img/logo.png">
                                </div>
                                <span itemprop="name">华炎办公</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="credits">
                            © 华炎软件. 保留所有权利.
                            <a class="steedos-rule" href="/cn/steedos/terms/" target="_blank">条款与规定</a>
                            <a class="steedos-rule" href="/cn/steedos/privacy/" target="_blank">隐私保护</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>